@import "bootstrap/scss/bootstrap";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  background: linear-gradient(to bottom left, #a5e9e8, #0909fa) fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
